<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>Jobs Not Guns | Responsive HTML5 template</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
 
<!-- attach CSS styles -->

<link href="jng/lib/css/font-awesome.min.css" rel="stylesheet">
<link href="jng/lib/css/bootstrap.min.css" rel="stylesheet">
<link href="jng/lib/css/owl.transitions.css" rel="stylesheet" />
<link href="jng/lib/css/owl.carousel.css" rel="stylesheet" />
<link href="jng/lib/css/owl.theme.css" rel="stylesheet" />
<link href="jng/lib/css/style.css" rel="stylesheet" />
<link href="jng/lib/css/responsive.css" rel="stylesheet" />
<link href="jng/lib/css/jng.css" rel="stylesheet" />

<!-- links for canvas image gallery-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="jng/canvas/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="jng/canvas/style.css" type="text/css" />
<link rel="stylesheet" href="jng/canvas/css/dark.css" type="text/css" />
<link rel="stylesheet" href="jng/canvas/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="jng/canvas/css/animate.css" type="text/css" />
<link rel="stylesheet" href="jng/canvas/css/magnific-popup.css" type="text/css" />
<!-- end links for canvas image gallery-->

<link rel="stylesheet" href="css/custom.css" type="text/css" />

</head>

<body>
<div class="se-pre-con"></div>
<!--  BODY PAGE CONTENT --> 
<!-- navigation panel --> 
<!-- first section - Home -->
<section id="home" class="home drawer drawer--left">
  <div class="banner-title ">
    <h1><strong>Jobs Not</strong> Guns</h1>
    <div class="event-schedule"> <span class="event-date"><i class="fa fa-flag" aria-hidden="true"></i> 00 Nov<span class="jng-mobile">ember</span></span> <span class="event-place"><i class="fa fa-heart" aria-hidden="true"></i> Wash<span class="jng-mobile">ington</span> D.C.</span> </div>
    <p class="event-description">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit.</p>
    <div class="register-now-section">  <a href="#" class="register-now-btn">Register Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
    <div class="top-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href="" class="fa fa-vimeo" aria-hidden="true"></a> <a href="" class="fa fa-google-plus" aria-hidden="true"></a> <a href="" class="fa fa-instagram" aria-hidden="true"></a> </div>
  </div>
  <nav class="navbar navbar-default main-menu hidden-xs menu"  >
    <div class="container-fluid">
       <div class="header-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
          <div class="header-right">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main" data-target-2=".side-collapse-container"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav">
          <li><a href="#speakers">Speakers</a><span>|</span></li>
          <li><a href="#schedule">Schedule</a><span>|</span></li>
          <li><a href="#sponsors">Sponsors</a><span>|</span></li>
          <li><a href="#prices">Prices</a><span>|</span></li>
          <li><a href="#testiominal">Testimonial</a><span>|</span></li>
          <li><a href="#contactus">Contacts</a><span>|</span></li>
          <li><a >Elements</a> 
          <ul class="sub-menu">
          <li><a href="speakers.html">Speakers</a></li>
          <li><a href="schedules.html">Schedules</a></li>
          <li><a href="price.html">Price</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="contact.html">Contacts</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <div class="drawer-container">
      <div class="drawer-navbar-header">
        <button type="button" class="drawer-toggle drawer-hamburger"> <span class="sr-only">toggle navigation</span> <span class="drawer-hamburger-icon"></span> </button>
      </div>
      <nav class="drawer-nav" >
      <div class="header-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
         <ul class="drawer-menu">
          
           <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/" class="drawer-menu-item">Home</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#speakers" class="drawer-menu-item">Speakers</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#schedule" class="drawer-menu-item">Schedule</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#testimonial" class="drawer-menu-item">Testimonials </a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#prices" class="drawer-menu-item">Prices</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#sponsors" class="drawer-menu-item">Sponsors</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#contactus" class="drawer-menu-item">Contacts</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#elements" class="drawer-menu-item">Elements</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- /first section --> 

<!-- second section - About -->
<section id="conference" class="conference">
  <div class="container">
    <div class="row">
      <h2><strong> The International</strong> Conference</h2>
      <div class="count-down col-sm-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-12 col-sm-12 col-xs-12">
            <div class="count-day"><span class="count-number" data-count="235" id="day">0</span><span class="count-label">days</span></div>
            <div class="count-day"><span class="count-number" data-count="05" id="hours">0</span><span class="count-label">hours</span></div>
            <div class="count-day"><span class="count-number" data-count="54" id="minutes">0</span><span class="count-label">Minutes</span></div>
            <div class="count-day"><span class="count-number" data-count="36" id="seconds">0</span><span class="count-label">Seconds</span></div>
          </div>
        </div>
        <p class="count-down-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
        <a href="#speakers" class="register-now-btn">Speakers <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
    </div>
  </div>
</section>
<!-- /second section --> 

<!-- third section - Services -->
<section id="about" class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="block-title"><strong>About Jobs Not </strong> Guns</p>
        <h3>What is Jobs Not Guns?</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
      </div>
    </div>
  </div>
</section>
<!-- /third section --> 

<!-- fourth section -->
<section id="speakers" class="speakers">
  <div class="container">
    <div class="row">
      <h2 class="block-title"><strong>The</strong> Speakers</h2>
      
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-1.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-2.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-3.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-4.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-5.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-6.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="speaker-block"> <img src="jng/lib/images/speaker-7.jpg" alt="Event Premium" class="img-responsive">
          <div class="speaker-details"> <span class="speaker-name">David Joe</span> <span class="speaker-designation">CO FOUNDER</span>
            <p class="speaker-meta">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris bi accumsan</p>
            <div class="social-meta"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
     <p class="text-center"><a href="speakers.html" class="register-now-btn styles-button">Speakers Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
  </div>
</section>
<section id="schedule" class="schedule">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="block-title"><strong>The</strong> Schedule</p>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu0">06/01</a></li>
          <li><a data-toggle="tab" href="#menu1">09/02</a></li>
          <li><a data-toggle="tab" href="#menu2">12/03</a></li>
          <li><a data-toggle="tab" href="#menu3">22/04</a></li>
        </ul>
        <div class="tab-content">
          <div id="menu0" class="tab-pane fade active in">
            <div class="speakers-list">
              <div class="col-sm-3  col-xs-12  left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="#" class="fa fa-facebook" aria-hidden="true"></a> <a href="#" class="fa fa-twitter" aria-hidden="true"></a> <a href="#" class="fa fa-linkedin" aria-hidden="true"></a> <a href="#" class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9  col-xs-12 ">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-1.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="#" class="fa fa-facebook" aria-hidden="true"></a> <a href="#" class="fa fa-twitter" aria-hidden="true"></a> <a href="#" class="fa fa-linkedin" aria-hidden="true"></a> <a href="#" class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12 ">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3  col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-2.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-1.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-2.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
          </div>
          <div id="menu2" class="tab-pane fade">
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-2.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-1.png" alt="Event Premium" class="img-responsive"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image.png" alt="Event Premium" class="img-responsive" > </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
          </div>
          <div id="menu3" class="tab-pane fade">
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image.png" class="img-responsive" alt="Event Premium"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-1.png" class="img-responsive" alt="Event Premium"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
            <div class="speakers-list">
              <div class="col-sm-3 col-xs-12 left-section">
                <div class="col-sm-12 col-xs-12">
                  <div class="img-section"> <img src="jng/lib/images/speaker-round-image-2.png" class="img-responsive" alt="Event Premium"> </div>
                  <div class="speaker-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href=""    class="fa fa-share-alt" aria-hidden="true"></a> </div>
                </div>
              </div>
              <div class="col-sm-9 col-xs-12">
                <div class="col-sm-12 col-xs-12">
                  <h3 class="speaker-topic">The Best Event Theme You Can Find is Here.</h3>
                  <p class="topic-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione.</p>
                  <div class="speaker-schedule"><span class="speaker-timing"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 08:45</span> <span class="speaker-loaction"><i class="fa fa-map-marker" aria-hidden="true"></i> Hall / C</span> <span class="speaker"><i class="fa fa-microphone" aria-hidden="true"></i> Mike Ross Realten inc. </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center"><a href="schedules.html" class="register-now-btn styles-button">Schedules Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
  </div>
</section>
<!-- /fourth section --> 

<!-- Fifth section - sponsors -->
<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <h2 class="block-title"><strong>The</strong> Sponsors</h2>
      <div class="sponsors-logo">
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/creative-graphic-unique.png" alt="Creative Graphic Unique" class="img-responsive"> </div>
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/graphic-design-genuine.png" alt="Graphic Design Genuine" class="img-responsive"> </div>
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/creative-special.png" alt="Creative Special" class="img-responsive"> </div>
      </div>
      <div class="sponsors-logo">
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/creative-design-unique.png" alt="Creative Design Special" class="img-responsive"> </div>
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/creative-graphic.png" alt="Creative Graphic" class="img-responsive"> </div>
        <div class="col-sm-4 col-xs-4 logo-item"> <img src="jng/lib/images/sponsors/premium.png" alt="Event Premium" class="img-responsive"> </div>
      </div>
    </div>
    <p class="text-center"><a href="sponsors.html" class="register-now-btn styles-button">Sponsors Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
  </div>
</section>
<!-- /Fifth section --> 

<!-- Prices -->
<section id="prices" class="prices">
  <div class="container">
    <div class="row">
      <p class="block-title"><strong>The</strong> Prices</p>
      <div class="col-sm-4 col-md-4 event-priceing">
        <div class="inner-pricing">
          <div class="plan-name">
            <h6>Personal</h6>
            <small>Basic Package</small> </div>
          <div class="plan-price">
            <p class="no-margin"><sup>$</sup>99</p>
          </div>
          <div class="plan-details">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
              <li><i class="fa fa-times" aria-hidden="true"></i> Workshop</li>
              <li><i class="fa fa-times" aria-hidden="true"></i> Certificate</li>
            </ul>
            <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 event-priceing">
        <div class="inner-pricing">
          <div class="best-offer">
            <p class="no-margin">Best Offer</p>
          </div>
          <div class="plan-name">
            <h6 class="best-offer-padding">Business</h6>
            <small>Premium Package</small> </div>
          <div class="plan-price">
            <p class="no-margin"><sup>$</sup>149</p>
          </div>
          <div class="plan-details">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Workshop</li>
              <li><i class="fa fa-times" aria-hidden="true"></i> Certificate</li>
            </ul>
            <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 event-priceing">
        <div class="inner-pricing">
          <div class="plan-name">
            <h6>Coporate</h6>
            <small>Best Package</small> </div>
          <div class="plan-price">
            <p class="no-margin"><sup>$</sup>199</p>
          </div>
          <div class="plan-details">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i> Entrance</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Coffe Break</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Lunch</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Workshop</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Certificate</li>
            </ul>
            <a href="#" class="register-now-btn">Buy Ticket <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="get-in-touch">
      <p class="no-margin">Need additional pricing info? <a href="#">Get in touch</a> </p>
    </div>
  </div>
  <p class="text-center"><a href="price.html" class="register-now-btn styles-button">Price Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
</section>
<!-- /Prices --> 

<!-- Testiominals -->
<section id="testiominal" class="testiominals">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <p class="block-title"><strong>What People Say</strong> About Us</p>
        <h3>What People Say About Our Last Jobs Not Guns Conference.</h3>
        <div class="owl-testimonial">
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-1.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Kevin Ten</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-2.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Sara Pearson</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-1.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Kevin Ten</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-2.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Sara Pearson</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-1.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Kevin Ten</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
          <div class="inner-testimonial">
            <div class="tm-tagline"> <i class="fa fa-quote-left" aria-hidden="true"></i> <span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</span> </div>
            <div class="tm-userinfo">
              <div class="tm-userimg"> <img src="jng/lib/images/testimonial-2.png" alt="testimonial" /> </div>
              <div class="tm-userbio">
                <h4 class="tm-title"> Sara Pearson</h4>
                <p class="tm-designation">Founder of Realten inc.</p>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i> 05/01</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <p class="text-center"><a href="testimonials.html" class="register-now-btn styles-button">Testimonials Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
  </div>
</section>
<!-- /Testiominals --> 

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Block Content Gallery
		============================================= -->
  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">

        <div class="row justify-content-center mb-5">
          <div class="col-xl-6 col-lg-8 text-center">
            <h3 class="h1 fw-bold mb-3">Gallery</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam temporibus doloremque sunt
              consequatur nemo.</p>
          </div>
        </div>

        <div class="clear"></div>

        <!-- Grid row -->
        <div class="card-columns" data-lightbox="gallery">

          <a href="jng/canvas/images/gallery-1/1.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/1.jpg" alt="Image">
          </a>
          <a href="jng/canvas/images/gallery-1/2.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/2.jpg" alt="Image">
          </a>
          <a href="jng/canvas/images/gallery-1/3.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/3.jpg" alt="Image">
          </a>
          <a href="jng/canvas/images/gallery-1/4.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/4.jpg" alt="Image">
          </a>
          <a href="jng/canvas/images/gallery-1/5.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/5.jpg" alt="Image">
          </a>
          <a href="jng/canvas/images/gallery-1/6.jpg" data-lightbox="gallery-item">
            <img class="img-fluid mb-4 h-op-09 op-ts" src="jng/canvas/images/gallery-1/6.jpg" alt="Image">
          </a>

        </div>
        <!-- Grid row -->

      </div>
    </div>
  </section><!-- #Block Content Gallery end -->


</div><!-- #wrapper end -->

<!-- Subscribe -->
<section id="subscribe" class="subscribe">
  <div class="container">
    <div class="row">
      <h2 class="block-title"><strong>Subscribe for</strong> Next eventary</h2>
      <div class="subscribe-form">
        <form>
          <div class="input-group margin-bottom-sm col-lg-5 col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input class="form-control" type="text" placeholder="First Name">
          </div>
          <div class="input-group margin-bottom-sm col-lg-5  col-md-5 col-sm-12  col-xs-12"> <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input class="form-control" type="text" placeholder="Email address">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p class="no-margin subscribe-text">We guarantee 100% privacy. Your information will not be shared.</p>
            <a href="#" class="register-now-btn">Get Every Info of Our Next Camp Eventery</a> </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Subscribe --> 

<!-- Contact Us  -->
<section id="contactus" class="contact-us">
  <div class="container">
    <div class="row">
      <div class="contact-left">
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.1436926786087!2d72.55631131454653!3d23.055192984936514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e843fea762a7f%3A0x556fb8c750338958!2sGlorywebs!5e0!3m2!1sen!2sin!4v1491806480193" style="border:0" allowfullscreen=""  height="495"   ></iframe>-->
        <div id="map"></div>
      </div>
      <div class="contact-right">
        <h4 class="contact-title"> <i class="fa fa-flag" aria-hidden="true"></i> EVENT LOCATION</h4>
        <div class="contact-details">
          <p class="address"> <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Lorem ipsum doler<br>
            101 lorem st. S.E. Washington D.C., <br>
            NY 10001, United States</span> </p>
          <p class="contact-phone"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+18888568989"> +1 888-856-8989</a></p>
          <p class="contact-email"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:eventcamppremium@gmail.com">eventcamppremium@gmail.com</a></p>
        </div>
        <a href="#" class="register-now-btn">Get Register For The Event</a> </div>
    </div>
         <p class="text-center"><a href="contact.html" class="register-now-btn styles-button">Contact Styles <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>

  </div>
</section>
<!-- /Contact Us --> 

<!-- Bottom Social -->
<div id="elements" class="bottom-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href="" class="fa fa-vimeo" aria-hidden="true"></a> <a href="" class="fa fa-google-plus" aria-hidden="true"></a> <a href="" class="fa fa-instagram" aria-hidden="true"></a> </div>
<!-- /Bottom Social --> 

<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="footer-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="footer-right hidden-xs">
            <ul>
              <li><a href="#speakers">Speakers</a><span>|</span></li>
              <li><a href="#schedule">Schedule</a><span>|</span></li>
              <li><a href="#">Gallery</a><span>|</span></li>
              <li><a href="#prices">Prices</a><span>|</span></li>
              <li><a href="#sponsors">Sponsors</a><span>|</span></li>
              <li><a href="#contactus">Contacts</a><span>|</span></li>
              <li><a href="#">Elements</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copytight">
      <p>&copy; 2017 ECP - Responsive Event WordPress Theme Designed & Developed by <a href="http://glorywebs.com/" title="Glorywebs" target="_blank"> Glorywebs</a></p>
    </div>
  </div>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a> </footer>
<!-- .Footer --> 

<!-- attach JavaScripts --> 
<script type="text/javascript" src="jng/lib/js/jquery-2.2.4.min.js"></script> 
<script type="text/javascript" src="jng/lib/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script> 

    <script>
      function initMap() {
        var uluru = {lat: 40.302799, lng: -76.768982};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom:14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnBukuPx3MQ3bJLLD-e4NKHL56g1nsRXM&callback=initMap"> </script>
<script src="jng/lib/js/iscroll.js"></script> 
<script src="jng/lib/js/menu.js" charset="utf-8"></script> 
<script src="jng/lib/js/owl.carousel.min.js"></script> 
<script src="jng/lib/js/classie.js"></script> 
<script type="text/javascript" src="jng/lib/js/custom-menu.js"></script>
<script type="text/javascript" src="jng/lib/js/eventpremium-script.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<!-- scripts for canvas image gallery-->
<script src="jng/canvas/js/jquery.js"></script>
<script src="jng/canvas/js/plugins.min.js"></script>
<script src="jng/canvas/js/functions.js"></script>
<!-- scripts for canvas image gallery-->

</body>
</html>