<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <title>Jobs Not Guns | Responsive HTML5 template</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- attach CSS styles -->

  <link href="jng/lib/css/font-awesome.min.css" rel="stylesheet">
  <link href="jng/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="jng/lib/css/owl.transitions.css" rel="stylesheet" />
  <link href="jng/lib/css/owl.carousel.css" rel="stylesheet" />
  <link href="jng/lib/css/owl.theme.css" rel="stylesheet" />
  <link href="jng/lib/css/style.css" rel="stylesheet" />
  <link href="jng/lib/css/responsive.css" rel="stylesheet" />
  <link href="jng/lib/css/jng.css" rel="stylesheet" />
  
  {{>(vendor 'w3schools' use_local_files true)}}
  {{>(vendor 'oauth_links' use_local_files true)}}
  {{>(bundle 'bundle_css' production)}}{{!-- see router/jng.js for 'production' variable --}}
  <link rel="manifest" href="./jng/js/manifest.json" />

</head>

<body>
  <div class="se-pre-con"></div>
  <!--  BODY PAGE CONTENT -->
  <!-- navigation panel -->
  <div class="modal_home"></div>
  <div class="root"></div>
  <!-- first section - Home -->

  <!-- /first section -->

  <!-- Bottom Social -->

  <!-- /Bottom Social -->

  <!-- Footer -->

  <!-- .Footer -->

  <!-- attach JavaScripts -->
  <script type="text/javascript" src="jng/lib/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="jng/lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>

  <script>
    function initMap() {
      var uluru = { lat: 40.302799, lng: -76.768982 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnBukuPx3MQ3bJLLD-e4NKHL56g1nsRXM&callback=initMap"> </script>
  <script src="jng/lib/js/iscroll.js"></script>
  <script src="jng/lib/js/menu.js" charset="utf-8"></script>
  <script src="jng/lib/js/owl.carousel.min.js"></script>
  <script src="jng/lib/js/classie.js"></script>
  {{!-- <script type="text/javascript" src="jng/lib/js/custom-menu.js"></script> --}}
  <script type="text/javascript" src="jng/lib/js/eventpremium-script.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  {{>(bundle 'bundle_js' production)}}
</body>

</html>