<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<title>Jobs Not Guns | Responsive HTML5 template</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
 
<!-- attach CSS styles -->

<link href="jng/lib/css/font-awesome.min.css" rel="stylesheet">
<link href="jng/lib/css/bootstrap.min.css" rel="stylesheet">
<link href="jng/lib/css/owl.transitions.css" rel="stylesheet" />
<link href="jng/lib/css/owl.carousel.css" rel="stylesheet" />
<link href="jng/lib/css/owl.theme.css" rel="stylesheet" />
<link href="jng/lib/css/style.css" rel="stylesheet" />
<link href="jng/lib/css/responsive.css" rel="stylesheet" />
<link href="jng/lib/css/jng.css" rel="stylesheet" />
<link href="jng/lib/css/jsoon.css" rel="stylesheet" />

</head>

<body>
<div class="se-pre-con"></div>
<!--  BODY PAGE CONTENT --> 
<!-- navigation panel --> 
<!-- first section - Home -->
<section id="home" class="home drawer drawer--left">
  <div class="banner-title ">
    <h1><strong>Under</strong> Construction</h1>
    {{!-- <div class="event-schedule"> <span class="event-date"><i class="fa fa-flag" aria-hidden="true"></i> 00 Nov<span class="jng-mobile">ember</span></span> <span class="event-place"><i class="fa fa-heart" aria-hidden="true"></i> Wash<span class="jng-mobile">ington</span> D.C.</span> </div> --}}
    <p class="event-description">Coming soon, <strong>Jobs Not Guns</strong> .</p>
  </div>
  <nav class="navbar navbar-default main-menu hidden-xs menu"  >
    <div class="container-fluid">
       <div class="header-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
          <div class="header-right">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main" data-target-2=".side-collapse-container"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
    </div>
    </div>
  </nav>
  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <div class="drawer-container">
      <div class="drawer-navbar-header">
        <button type="button" class="drawer-toggle drawer-hamburger"> <span class="sr-only">toggle navigation</span> <span class="drawer-hamburger-icon"></span> </button>
      </div>
      <nav class="drawer-nav" >
      <div class="header-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
         <ul class="drawer-menu">
          
           <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/" class="drawer-menu-item">Home</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#speakers" class="drawer-menu-item">Speakers</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#schedule" class="drawer-menu-item">Schedule</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#testimonial" class="drawer-menu-item">Testimonials </a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#prices" class="drawer-menu-item">Prices</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#sponsors" class="drawer-menu-item">Sponsors</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#contactus" class="drawer-menu-item">Contacts</a></li>
          <li><a href="http://glorywebsdev.com/eventcamp/html/eventpremium/#elements" class="drawer-menu-item">Elements</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- /first section --> 

<!-- Bottom Social -->
<div id="elements" class="bottom-social"> <a href="" class="fa fa-facebook" aria-hidden="true"></a> <a href="" class="fa fa-twitter" aria-hidden="true"></a> <a href="" class="fa fa-linkedin" aria-hidden="true"></a> <a href="" class="fa fa-vimeo" aria-hidden="true"></a> <a href="" class="fa fa-google-plus" aria-hidden="true"></a> <a href="" class="fa fa-instagram" aria-hidden="true"></a> </div>
<!-- /Bottom Social --> 

<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="footer-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="footer-right hidden-xs">
            <ul>
              <li><a href="#speakers">Speakers</a><span>|</span></li>
              <li><a href="#schedule">Schedule</a><span>|</span></li>
              <li><a href="#">Gallery</a><span>|</span></li>
              <li><a href="#prices">Prices</a><span>|</span></li>
              <li><a href="#sponsors">Sponsors</a><span>|</span></li>
              <li><a href="#contactus">Contacts</a><span>|</span></li>
              <li><a href="#">Elements</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copytight">
      <p>&copy; 2017 ECP - Responsive Event WordPress Theme Designed & Developed by <a href="http://glorywebs.com/" title="Glorywebs" target="_blank"> Glorywebs</a></p>
    </div>
  </div>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a> </footer>
<!-- .Footer --> 

<!-- attach JavaScripts --> 
<script type="text/javascript" src="jng/lib/js/jquery-2.2.4.min.js"></script> 
<script type="text/javascript" src="jng/lib/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script> 

    <script>
      function initMap() {
        var uluru = {lat: 40.302799, lng: -76.768982};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom:14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnBukuPx3MQ3bJLLD-e4NKHL56g1nsRXM&callback=initMap"> </script>
<script src="jng/lib/js/iscroll.js"></script> 
<script src="jng/lib/js/menu.js" charset="utf-8"></script> 
<script src="jng/lib/js/owl.carousel.min.js"></script> 
<script src="jng/lib/js/classie.js"></script> 
<script type="text/javascript" src="jng/lib/js/custom-menu.js"></script>
<script type="text/javascript" src="jng/lib/js/eventpremium-script.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

</body>
</html>