
<!-- HTML Meta Tags -->
<title>Jobs Not Guns Providing opportunities to reduce gun violence</title>
<meta name="description" content="Providing employment and training opportunities for district residents to reduce gun violence incidents in the District of Columbia.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jobsnotguns.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Jobs Not Guns Providing opportunities to reduce gun violence">
<meta property="og:description" content="Providing employment and training opportunities for district residents to reduce gun violence incidents in the District of Columbia.">
<meta property="og:image" content="/jng/EventCamp/images/jng-social-media-500.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jobsnotguns.com">
<meta property="twitter:url" content="https://jobsnotguns.com/">
<meta name="twitter:title" content="Jobs Not Guns Providing opportunities to reduce gun violence">
<meta name="twitter:description" content="Providing employment and training opportunities for district residents to reduce gun violence incidents in the District of Columbia.">
<meta name="twitter:image" content="/jng/EventCamp/images/jng-social-media-500.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      