<!-- Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="footer-left">
            <p class="no-margin"><strong>Jobs Not</strong> Guns</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="footer-right hidden-xs">
            <ul>
              <li><a href="#speakers">Speakers</a><span>|</span></li>
              <li><a href="#schedule">Schedule</a><span>|</span></li>
              <li><a href="#">Gallery</a><span>|</span></li>
              <li><a href="#prices">Prices</a><span>|</span></li>
              <li><a href="#sponsors">Sponsors</a><span>|</span></li>
              <li><a href="#contactus">Contacts</a><span>|</span></li>
              <li><a href="#">Elements</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copytight">
      <p>&copy; 2017 ECP - Responsive Event WordPress Theme Designed & Developed by <a href="http://glorywebs.com/"
          title="Glorywebs" target="_blank"> Glorywebs</a></p>
    </div>
  </div>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
</footer>
<!-- .Footer -->