<div class="fixed-nav-on-scroll fixed-nav-appear d-none">
  <div class="row no-gutters">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-9 logo-fixed-scroll">
        <img src="{{images.logo}}" alt="logo">
      </div>
      <div class="fixed-icon-scroll">
        <a href="javascript:void(0)" id="sidemenu_toggle1"><i class="lni lni-menu"></i></a>
      </div>
    </div>
  </div>
</div>