:root {
  // --main-color: #f25421;
  --main-text-color: #fff;
  --off-main-color: #f68864;
  --white: #fff;
  --grey: #9e9e9e;
  --main-site-color: #e8d716; //#2e8538;
  --main-secondary-color: #5bbdbb;
  --off-main-color: #79d36f; // #fffbcc
  --main-bg: #fffbcc; //#f0f4c3;
  --sunzao: #ffeb3b;
  --active-blue: #2d2dad;
  --disabled-grey: #9e9e9e;
}