<div class="summit inner" data-comp="Events">
  <p class="p">
    The Jobs Not Guns Employment Summit is designed to provide a citywide forum for potential employers, training providers, support/social service providers, law enforcement and elected official to meet with District residents, community stakeholders and employment agencies to address the barriers for employing District residents.  It provides an opportunity for employers to present their barriers to hiring district residents and residents to share their challenges for obtaining employment or a track for long-term career opportunities. Conducted both onsite and live-streaming, the Summit provides applicants an overview of their responsibilities to participate in job training or support programs, as needed, to achieve and maintain employment that can lead to a career.  
  </p>
  <p class="p">
    The Jobs Not Guns Recruitment Fairs host exhibitors to provide employment, training or supportive services for District residents.  Exhibitors include: 
  </p>
  <ul class='summit list'>
    <li>
      Federal, District, National and Local employers will provide a list of job openings and conducted individual on-the-spot interviews of applicants for employment;
    </li>
    <li>
      Building trades unions will accept resumes and applications for apprenticeship training;
    </li>
    <li>
      District-funded and private job-readiness and vocational training providers to recruit trainees for pre-employment programs; 
    </li>
    <li>
      Social/Supportive service programs and community organization to register District residents for social/supportive services program.
    </li>
  </ul>
</div>