<div
  class="snap_core_snap_section_426_1 snap_core_snap_section_1 snap_core_426_1 snap_section_426_1 snap_core_snap_section_426 snap_core_snap_section snap_core_426 snap_core snap_section_426 snap_section 426 tabs rForm hide-scroll show"
  data-index="1" data-iun="426">
  <div class="rHead ProfileIcon_icon_wrapper ProfileIcon_icon_wrapper_5771 " data-comp="ProfileIcon">
    <div id="rHead_icon_img_image_area4895"
      class="rHead_icon_img_image_area4895 rHead_icon_img_image_area  image_area rHead_icon_img  "><img
        id="rHead_icon_img_ImgImage4895"
        class="rHead_icon_img_ImgImage4895 rHead_icon_img_ImgImage ImgImage4895 ImgImageundefined ImgImage responsive_image rHead_icon_img   "
        height="100" width="100" src="jng/images/jobsnotguns.png"></div>
  </div>
  <h5 class="rHead_title">East Of The River Recruitment Fair</h5>
  <div class="snap_btn d3-ico d3-ico-btn icon-eye snap_core rForm_display_preview_btn" title="preview"></div>
  <div class="rawDrop_wrapper rInfo_info_menu" data-comp="RawHide">
    <div class="rawDrop_header"><label>more info</label>
      <div class="rawDrop_dropdown_icon d3-ico icon-info  " title="hide"></div>
    </div>
    <div class="rawDrop_display_cont squish">
      <div class="rInfo_wrapper">
        <div class="rInfo_date">Friday, November 19, 2021</div>
        <div class="rInfo_location">Entertainment and Sports Arena</div>
        <div class="rInfo_address">1100 Oak Drive, SE</div>
        <div class="rInfo_city"></div>
        <div class="rInfo_details">(on the grounds of St. Elizabeths East Campus)</div>
        <div class="rInfo_time">11:00 a.m. until 3:00 p.m.</div>
      </div>
    </div>
  </div>
  <form class="rForm_form hide-scroll">
    <div class="rForm_active">Business Contractor Exhibitor</div>
    <div class="w3-row">
      <fieldset class="w3-col m8">
        <div class="form-group name "><label for="name">Name</label><input name="name" id="name"
            placeholder="Enter your name..." class="form-control" type="text" value=""></div>
      </fieldset>
      <fieldset class="w3-col m4">
        <div class="form-group title "><label for="title">Title</label><input name="title" id="title"
            placeholder="Enter title or position..." class="form-control" type="text" value=""></div>
      </fieldset>
    </div>
    <div class="w3-row">
      <fieldset class="w3-col m8">
        <div class="form-group company "><label for="company">Company</label><input name="company" id="company"
            placeholder="Enter company name..." class="form-control" type="text" value=""></div>
      </fieldset>
      <fieldset class="w3-col m4">
        <div class="form-group type "><label for="type">Type</label><input name="type" id="type"
            placeholder="Type of company..." class="form-control" type="text" value=""></div>
      </fieldset>
    </div>
    <div class="w3-row">
      <fieldset class="w3-col m8">
        <div class="form-group address "><label for="address">address</label><input name="address" id="address"
            placeholder="" class="form-control" type="text" value=""></div>
      </fieldset>
      <fieldset class="w3-col m4">
        <div class="form-group suite "><label for="suite">suite</label><input name="suite" id="suite" placeholder=""
            class="form-control" type="text" value=""></div>
      </fieldset>
    </div>
    <div class="w3-row">
      <fieldset class="w3-col m7 s8">
        <div class="form-group city "><label for="city">city</label><input name="city" id="city" placeholder=""
            class="form-control" type="text" value=""></div>
      </fieldset>
      <fieldset class="w3-col m2 s4">
        <div class="form-group state "><label for="state">state</label><input name="state" id="state" placeholder=""
            class="form-control" type="text" value=""></div>
      </fieldset>
      <fieldset class="w3-col m3">
        <div class="form-group zip "><label for="zip">zip code</label><input name="zip" id="zip" placeholder=""
            class="form-control" type="text" value=""></div>
      </fieldset>
    </div>
    <div class="w3-row">
      <fieldset class="w3-col m6">
        <div class="form-group telephone "><label for="telephone">telephone</label><input name="telephone"
            id="telephone" placeholder="" class="form-control" type="phone" value=""></div>
      </fieldset>
      <fieldset class="w3-col m6">
        <div class="form-group fax "><label for="fax">fax</label><input name="fax" id="fax" placeholder=""
            class="form-control" type="phone" value=""></div>
      </fieldset>
      <fieldset class="">
        <div class="form-group email "><label for="email">email</label><input name="email" id="email" placeholder=""
            class="form-control" type="email" value=""></div>
      </fieldset>
    </div>
    <div class="rOpp_wrapper">
      <div class="rForm_option">job opportunities</div>
      <div class="w3-row">
        <fieldset class="w3-col m6">
          <div class="form-group opportunities_1635474232785.type0 "><label for="1635474232785_type">type</label><input
              name="opportunities.1635474232785.type0" id="1635474232785_type" placeholder="opportunity type"
              class="form-control" type="text" value=""></div>
        </fieldset>
        <fieldset class="w3-col m6">
          <div class="form-group opportunities_1635474232785.description0 "><label
              for="1635474232785_description">description</label><input name="opportunities.1635474232785.description0"
              id="1635474232785_description" placeholder="describe the opportunity..." class="form-control" type="text"
              value=""></div>
        </fieldset>
      </div>
      <div class="rOpp_add_cont"><button class="rOpp_add w3-btn icon-plus" href="#">Add</button></div>
    </div>
    <div class="rForm_mask">In accordance to DC Law, MASK ARE REQUIRED at this event!</div>
    <div class="rForm_submit_cont"><button class="rForm_submit w3-btn icon-checkmark" type="submit"></button></div>
  </form>
</div>